:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #4a4a4a;
  --secondary-text-color: #333333;
  --third-text-color: #585858;
  --accent-color: #E97522;
  --primary-bg-color: #F2F4F4;
  --secondary-bg-color: #F9F4EE;
  --third-bg-color: #F5D9C6;
  --dark-bg-color: #444444;
  --gray-color: #B1B1B1;
  --secondary-gray-color: #838383;
  --light-gray-color: #C8C8C8;
  --gradient-bg-color: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  --hover-gradient-bg-color: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
}

body.modal-open {
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

.section {
  padding-top: 60px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  text-align: center;
  color: var(--secondary-text-color);
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 3px;
  color: var(--primary-white-color);
  background: var(--gradient-bg-color);
  transition: background 250ms var(--primary-cubic), color 250ms var(--primary-cubic);
}
.btn:hover, .btn:focus {
  background: var(--hover-gradient-bg-color);
}
.header .contact__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: var(--third-text-color);
}

.hero {
  max-width: 375px;
  height: 522px;
  padding-top: 182px;
  padding-bottom: 184px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-bg-color);
}

.hero__title {
  max-width: 325px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 1.2px;
  text-align: center;
}

.hero__btn {
  display: inline-block;
  margin: 0 auto;
  padding: 19px 20px;
}

.projects__title {
  margin-bottom: 40px;
}

.locations {
  text-align: center;
}

.locations__title {
  margin-bottom: 40px;
}

.locations__list {
  margin-bottom: 30px;
}

.locations__btn {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 58px;
}

.decor__title {
  margin-bottom: 40px;
}

.services {
  position: relative;
}

.services__title {
  margin-bottom: 40px;
}

.services__item {
  position: relative;
  margin-bottom: 16px;
}

.services__text {
  position: absolute;
  left: 12px;
  bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  color: var(--primary-white-color);
}

.stages__section {
  padding-bottom: 80px;
}

.stages__title {
  margin-bottom: 40px;
}

.stages__item {
  position: relative;
  padding-top: 26px;
  padding-bottom: 56px;
  border: 2px solid var(--accent-color);
  box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
  border-radius: 12px;
}
.stages__item:not(:last-child) {
  margin-bottom: 40px;
}
.stages__item:nth-child(3) {
  padding-top: 21px;
  padding-bottom: 38px;
}

.stages__wrap {
  width: 247px;
  margin: 0 auto;
}

.stages__heading {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-align: center;
  color: var(--secondary-text-color);
}

.stages__text {
  text-align: center;
}

.stages__number {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.13;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--secondary-bg-color);
}

.description__section {
  padding-top: 50px;
  padding-bottom: 36px;
  background-color: var(--primary-bg-color);
}

.section--beige {
  background-color: var(--secondary-bg-color);
}

.description__title {
  margin-bottom: 24px;
  text-align: center;
}

.description__text {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.more__btn {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--accent-color);
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
}

.more__icon {
  margin-left: 12px;
  fill: transparent;
}

.price__section {
  margin-bottom: 60px;
}

.price__title {
  margin-bottom: 40px;
}

.price__item {
  padding: 45px 12px;
  background-color: var(--primary-bg-color);
  border-radius: 16px;
}
.price__item:not(:last-child) {
  margin-bottom: 24px;
}

.item--gray {
  background-color: var(--primary-bg-color);
}

.item--beige {
  background-color: var(--secondary-bg-color);
}

.item--pink {
  background-color: var(--third-bg-color);
}

.tariff__name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-transform: uppercase;
}

.tariff__price {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.tariff-services__list {
  margin-top: 40px;
  margin-bottom: 32px;
}

.tariff__option {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: var(--secondary-gray-color);
}

.tariff-services__item {
  display: flex;
  align-items: center;
}
.tariff-services__item:not(:last-child) {
  margin-bottom: 16px;
}

.tariff-services__icon {
  margin-right: 8px;
  fill: var(--primary-text-color);
}

.tariff-services__text {
  color: var(--secondary-text-color);
}

.add-services__title {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: var(--secondary-text-color);
  text-align: center;
}

.add-services__wrap {
  display: flex;
  flex-wrap: wrap;
}

.add-services__item:nth-child(1) {
  margin-right: 5px;
}
.add-services__item:nth-child(2) {
  margin-bottom: 5px;
}

.add-services__btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 6px 8px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  background-color: var(--primary-white-color);
  border: 1px solid #C2C2C2;
  border-radius: 5px;
}
.add-services__btn:hover, .add-services__btn:focus {
  color: var(--accent-color);
}
.add-services__btn:active {
  border-color: var(--accent-color);
}

.tariff-services__btn {
  display: inline-block;
  margin: 0 auto;
  margin-top: 32px;
  padding: 20px 58px;
}

.certificate__title {
  margin-bottom: 40px;
}

.certificate__wrap {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: var(--secondary-bg-color);
}

.certificate__text {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--light-gray-color);
  text-align: center;
  text-transform: uppercase;
}

.certificate__heading {
  margin-bottom: 32px;
}

.benefits__list {
  margin-bottom: 9px;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits__item:not(:last-child) {
  margin-bottom: 16px;
}

.benefits__icon {
  margin-bottom: 8px;
}

.benefits__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
}

.certificate-validity__text {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: var(--secondary-text-color);
}

.certificate__btn {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 94px;
}/*# sourceMappingURL=main.css.map */