.hero {
    max-width: 375px;
    height: 522px;

    padding-top: 182px;
    padding-bottom: 184px;
    margin: 0 auto;

    text-align: center;

    background-color: var(--dark-bg-color);
    // background-image: linear-gradient(to right,
    //         rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)),
    //     url('../images/hero-bg-mob.jpg');

    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
}

.hero__title {
    max-width: 325px;

    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    color: var(--primary-white-color);

    @include font(24px, 700, 1.42, 1.2px);
    text-align: center;
}

.hero__btn {
    display: inline-block;
    margin: 0 auto;
    padding: 19px 20px;
}