.locations {
    text-align: center;
}


.locations__title {
    margin-bottom: 40px;
}

.locations__list {
    margin-bottom: 30px;
}

.locations__btn {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 58px;
}