.stages__section {
    padding-bottom: 80px;
}

.stages__title {
    margin-bottom: 40px;
}

.stages__item {
    position: relative;
    padding-top: 26px;
    padding-bottom: 56px;
    &:not(:last-child) {
        margin-bottom: 40px;
    }

    border: 2px solid var(--accent-color);
    
    box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
    border-radius: 12px;

    &:nth-child(3) {
        padding-top: 21px;
        padding-bottom: 38px;
    }
}

.stages__wrap {
    width: 247px;
    // padding-top: 26px;
    // padding-bottom: 56px;
    margin: 0 auto;
}

.stages__heading {
    margin-bottom: 12px;

    @include font (18px, 600, 1.22, null);

    text-align: center;

    color: var(--secondary-text-color);
}

.stages__text {
    text-align: center;
}

.stages__number {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    @include font (30px, 700, 1.13, null);

    text-align: center;

    color: var(--accent-color);
    background-color: var(--secondary-bg-color);
}