body {
    background-color: #ffffff;
    color: #4a4a4a;

    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    // letter-spacing: 0.03em;
}

body.modal-open {
    overflow: hidden;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    display: block;
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}