:root {
    --primary-white-color: #ffffff;
    --primary-text-color: #4a4a4a;
    --secondary-text-color: #333333;
    --third-text-color: #585858;
    --accent-color: #E97522;
    --primary-bg-color: #F2F4F4;
    --secondary-bg-color: #F9F4EE;
    --third-bg-color: #F5D9C6;
    --dark-bg-color: #444444;
    --gray-color: #B1B1B1;
    --secondary-gray-color: #838383;
    --light-gray-color: #C8C8C8;
    --gradient-bg-color: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    --hover-gradient-bg-color: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
    --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);

    

}